@import 'variable.styl';

body, html {
	line-height: 1;
	font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	background: $color-background;
	color: $color-text-p;
	height: 100%;
}

.el-header {
	padding: 0px;

	.el-menu {
		padding-left: 250px;
	}

	.el-menu--horizontal>.el-submenu .el-submenu__icon-arrow {
		color: #ffffff;
	}
}

.el-aside {
	height: 100%;
	width: 200px !important;

	.aside {
		height: 100%;
	}

	.el-menu-vertical-demo:not(.el-menu--collapse) {
		width: 200px;
		height: 100%;
	}
}
