@import 'variable.styl';

body, html {
	line-height: 1;
	font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	background: $color-background;
	color: $color-text-p;
	height: 100%;
}

/* ---- particles.js container ---- */
#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: lightslategrey;
	background-image: url('../img/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	overflow: hidden;
}

.el-header {
	padding: 0px;

	.el-menu {
		padding: 0 250px;
	}

	.el-menu--horizontal>.el-submenu .el-submenu__icon-arrow {
		color: #ffffff;
	}
}

.el-aside {
	height: 100%;
	width: 200px !important;

	.aside {
		height: 100%;
	}

	.el-menu-vertical-demo:not(.el-menu--collapse) {
		height: 100%;
	}
}

// 子页面
.el-container.sub-page {
	height: 100%;
	background: $color-background-main;

	.el-scrollbar__wrap {
		overflow-x: hidden;
	}

	.el-header {
		height: 40px;
		border-bottom: 1px solid $color-border-p;
	}

	.el-main {
		padding: 20px;
	}

	.el-footer {
		border-top: 1px solid $color-border-p;
		display: flex;
		flex-flow: column;
		justify-content: center;

		.sub-footer {
			display: flex;
			flex-flow: row;
			justify-content: space-between;
			align-items: center;
		}
	}
}
