// 颜色定义规范
$color-background = #ffffff
$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight-background = #333
$color-dialog-background = #666


$color-primary = #409EFF //主颜色

//辅助色
$color-success = #67C23A
$color-warning = #E6A23C
$color-danger = #F56C6C
$color-info = #909399

$color-text-p = #303133 //主要文字
$color-text-s = #606266	//常规文字
$color-text-t = #909399	//次要文字
$color-text-f = #C0C4CC //占位文字

$color-border-p = #DCDFE6 //一级边框
$color-border-p = #E4E7ED //二级边框
$color-border-p = #EBEEF5 //三级边框
$color-border-p = #F2F6FC //四级边框

//字体定义规范
// 主标题	用 Element 快速搭建页面	20px Extra large
// 标题	用 Element 快速搭建页面	18px large
// 小标题	用 Element 快速搭建页面	16px Medium
// 正文	用 Element 快速搭建页面	14px Small
// 正文（小）	用 Element 快速搭建页面	13px Extra Small
// 辅助文字	用 Element 快速搭建页面	12px Extra Extra Small

$font-size-small-x = 12px
$font-size-small = 13px
$font-size-normal = 14px
$font-size-medium = 16px
$font-size-large = 18px
$font-size-large-x = 20px

